.select {
  width: 100%;
  margin-block: 8px;
  background: rgba(18, 144, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
}

.select_button {
  padding: 5.5px 12px;
  cursor: pointer;
}

.select_active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.select_optionList {
  background-color: var(--color-blueDark28) !important;
  border-radius: 0px 0px 12px 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.10);
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  border-left: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(18, 144, 255, 0.03);
  /* box-shadow: 0px -7px 10px -8px rgba(255, 255, 255, 0.30); */
  position: absolute;
  top: 40px;
  /* +2px - border */
  width: calc(100% + 2px);
  left: -1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.select_optionList li:first-of-type {
  box-shadow: inset -1px 7px 10px -8px hsl(242deg 29.43% 72.4% / 40%);
}

.select_optionList__search {
  width: 100%;
  left: 0px;
}

.select_optionList_item {
  border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
  padding-inline: 12px;
  padding-block: 4px;
  height: 44px;
  display: flex;
  align-items: center;
}


.select_optionList_item:hover {
  background-color: var(--color-darkGray);
}

.select_optionList_item__active {
  background-color: var(--color-primary);
}

.select_optionList_nothingFoundMessage {
  width: 100%;
  color: var(--color-gray);
  font-weight: 400;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}