.actButton {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-white);
  padding-inline: 20px;
  padding-block: 12px;
  display: block;
  border-radius: 8px;
  width: 100%;
}

.actButton--primary {
  composes: actButton;
  background-color: var(--color-primary);
}

.actButton--green {
  composes: actButton;
  background-color: var(--color-darkGreen);
}

.actButton--lowPrior {
  composes: actButton;
  background-color: var(--color-blueDark28);
}
