.portfolioCard__stats_item__title {
  color: var(--color-gray4C);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}

.portfolioCard__stats_item__value {
  color: var(--color-darkGreen);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--font-chakra);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
