.authContainer {
  min-height: inherit;
  display: flex;
  align-items: center;
}

.authContainer_globeImg {
  position: fixed;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  /* transition: 0.5s all; */
  /* animation: globeAnimation 4s cubic-bezier(0.37, 0, 0.63, 1); */
  animation-fill-mode: forwards;
  will-change: transition;
  /* width: 500px; */
  height: auto;

  /* top: 50%;
  right: 50%;
  width: 500px;
  height: 500px; */
  /* background-color: red; */
  /* transform: translate(50%, -50%);
  transition: 0.5s all; */
}

@media only screen and (max-width: 1205px) {
  .authContainer_globeImg {
    width: 100vw;
  }
}

@keyframes globeAnimation {
  /* 0% {
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
  } */

  100% {
    transform: translateY(-100%);
  }
}