.shadow {
  position: fixed;
  top: 0;
  width: auto;
  height: inherit;
  z-index: -1;
  animation: globeAnimation 4s cubic-bezier(0.37, 0, 0.63, 1);
  animation-fill-mode: forwards;
  will-change: transform;
}

@keyframes globeAnimation {
  0% {
    /* transform: scaleX(0); */
    transform: scale(3);
    /* opacity: 0.5; */
  }

  100% {
    /* transform: scaleX(1); */
    transform: scale(1);
    /* opacity: 1; */
  }
}

.shadowLeft {
  left: 0px;
}

.shadowRight {
  right: 0px;
}

@media only screen and (max-width: 1000px) {
  .shadowLeft {
    left: -300px;
  }

  .shadowRight {
    right: -300px;
  }
}

@media only screen and (max-width: 600px) {
  .shadowLeft {
    left: -250px;
  }

  .shadowRight {
    right: -250px;
  }
}

@media (max-width: 405px) {
  .shadowLeft {
    left: -425px;
  }

  .shadowRight {
    right: -425px;
  }
}