.shadow {
  position: fixed;
  top: 0;
  width: auto;
  height: inherit;
}

.shadowLeft {
  left: 0px;
}

.shadowRight {
  right: 0px;
}

@media only screen and (max-width: 1000px) {
  .shadowLeft {
    left: -300px;
  }

  .shadowRight {
    right: -300px;
  }
}

@media only screen and (max-width: 600px) {
  .shadowLeft {
    left: -250px;
  }

  .shadowRight {
    right: -250px;
  }
}

@media only screen and (max-width: 405px) {
  .shadowLeft {
    left: -425px;
  }

  .shadowRight {
    right: -425px;
  }
}