.chartName {
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
}

.divChartHead_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 32px;
}

.divChartHead_container_groupWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divChartHead_container_numbersWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
