.asset_undefinedLogo {
  background: linear-gradient(180deg, var(--color-grayD9) 0%, var(--color-green) 100%);
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asset_ticker {
  color: var(--color-blueDark28);
  text-align: center;
  font-family: var(--font-chakra);
  font-size: 7px;
  font-style: normal;
  font-weight: 500;
  line-height: 8px;
}

.asset_title {
  text-align: left;
  color: var(--color-darkLightGreen);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.asset_details {
  text-align: left;
  color: var(--color-gray);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.handlingType {
  border-left: 3px solid;
  padding-left: 16px;
}

.handlingType-UPLOADED { border-color: var(--color-primary); }
.handlingType-HANDLY_ADDED { border-color: var(--color-darkLightGreen); }
.handlingType-HANDLY_EDITED { border-color: var(--color-darkGreen); }
.handlingType-DELETED { border-color: var(--color-gray4C); }
