.fileRepresentation__wrapper {
  font-family: Chakra Petch;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 16px;
  width: 126px;
  height: 126px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fileRepresentation__divider {
  width: 100%;
  border: 2px solid var(--color-darkGreen);
}