@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray4C: #4c596b;
  --color-gray: #c4c4c4;
  --color-white: #fff;
  --color-whiteEasy: rgba(255, 255, 255, 0.6);
  --color-green: rgba(15, 111, 114, 0.5);
  --color-lightGreen: #18fefe;
  --color-darkLightGreen: #3cc8c8;
  --color-darkGray: #323740;
  --color-darkGreen: #0f6f72;
  --color-darkGreenEasy: #0f6f721a;
  --color-gold: #ffd390;
  --color-grayD9: #d9d9d9;
  --color-grayEB: #ebebf5;
  --color-pinkSoft: #cf6679;
  --color-yellow: #f3bb38;
  --color-black: black;
  --color-blueDark28: #111f28;
  --color-blueDark2D: #11222d;
  --color-greenDark26: #122126;
  --color-primary: #1290ff;

  --dashboard-visualizations-gap: 48px;

  --average-transition-duration: 0.25s;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition-delay: 3600s;
  transition-property: background-color, color;
}

/* TODO: Pass another place */
@layer components {
  .chartStatsNumber {
    font-family: "Chakra Petch";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: var(--color-gold);
    margin-bottom: 16px;
  }

  .chartStatsNumberFaded {
    @apply chartStatsNumber;
    opacity: 0.5;
  }

  .progressLegendItem {
    @apply rounded-xl;
    width: 30px;
    height: 4px;
    background: var(--color-gold);
    margin-top: 8px;
  }

  .progressLegendItemFaded {
    @apply progressLegendItem;
    opacity: 0.2;
  }

  .progressLegendTitle {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-grayEB);
    opacity: 0.3;
  }

  .progressLegendValue {
    @apply progressLegendTitle;
    font-weight: 600;
    color: var(--color-white);
    opacity: 1;
  }

  .progressLineChartBase {
    @apply rounded-xl;
    position: relative;
    height: 16.45px;
    background-color: rgba(255, 211, 145, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* opacity: 0.25; */
  }

  .progressLineChartProg {
    @apply progressLineChartBase;
    background-color: var(--color-gold);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }

  /* Line chart */
  .lineChartPathShadow {
    filter: drop-shadow(0px 4px 4px var(--color-gold));
  }

  .lineChartMarkersText {
    color: var(--color-gold);
    font-size: 12px;
    font-family: "Chakra Petch";
    opacity: 0.5;
    position: absolute;
  }

  .lineChartMarkersText-lt {
    @apply lineChartMarkersText;
    left: -22px;
    top: 11px;
  }

  .lineChartMarkersText-lb {
    @apply lineChartMarkersText;
    left: -22px;
    bottom: 11px;
  }

  .lineChartMarkersText-rt {
    @apply lineChartMarkersText;
    right: -33px;
    top: 11px;
  }

  .lineChartMarkersText-rb {
    @apply lineChartMarkersText;
    right: -26px;
    bottom: 11px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  background: linear-gradient(
      75.27deg,
      rgba(15, 111, 114, 0.106) 75.87%,
      rgba(0, 0, 0, 0) 95.64%
    ),
    #0e1317;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--color-white);
}

h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

/* Button style */

button {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

/* Disable click animation if the button disabled */
button:disabled:after {
  background-image: none !important;
}

button:hover {
  opacity: 0.9;
}

button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

button:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

/* Tab style */
:focus {
  outline: var(--color-gold) auto 2px;
}

/* When mouse is detected, ALL focused elements have outline removed. */
body.using-mouse :focus {
  outline: none;
}

/*  */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  /* width: var(--size); */
  /* height: var(--size); */
  filter: blur(calc(var(--size) / 1));
  background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57));
  /* background-blend-mode:color-burn; */
  /* background: greeт; */
  animation: rotate var(--speed) var(--easing) infinite;
  /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  /* z-index: 0 !important; */
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}

/* This is just to transition when you change the viewport size. */
/* * {
  transition: all 1 linear;
} */

/* TODO: Remove */
table thead tr {
  display: block;
  height: auto;
}

table tbody {
  display: block;
}

.color-red {
  color: var(--color-pinkSoft);
}
.color-gray4C {
  color: var(--color-gray4C);
}

.bg-color-darkGreen {
  background-color: var(--color-darkGreen);
}

.text-shadow-white {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Fade in & out animations for content pieces */
@keyframes inAnimation {
  0% {
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.font-chakra {
  font-family: Chakra Petch;
}