.emailAuthForm_submitButton {}

.emailAuthForm_authModePart {
  color: var(--color-gray4C);
  font-size: 16px;
  font-weight: 400;
}

.emailAuthForm_authModeSwitch {
  background: linear-gradient(180deg, #FFD390 0%, #0F6F72 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 500;
}

@media ( max-height: 800px ) {
  .inputOverride  {
    margin-bottom: 8px;
  }
}

@media ( max-width: 435px ) {
  .emailAuthForm_submitButton  {
    width: calc(100vw - 64px);
  }
}