.ratioChart__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
}

.ratioChart__total {
  font-family: var(--font-chakra);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.ratioChart__totalDescription {
  color: var(--color-gray4C);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  margin-top: 4px;
}

.ratioChart__item {
  position: relative;
  height: 8px;
  border-radius: 2px;
  background-color: var(--color-darkGreen);
}

.ratioChart__item:hover,
.ratioChart__item__hovered {
  border-inline: 1px solid var(--color-white);
  border-radius: 0px;
  opacity: 1 !important;
}
