.drawer {
  z-index: 5;
  background-color: rgba(18, 33, 38, 1);
  border-left: 1px var(--color-gray4C) solid;
  width: 500px !important;
  padding-inline: 64px;
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drawer__title {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 500;
}