.collapsible__triggerButton {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-white);
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(79, 79, 79, 0.07);
}

.collapsible__triggerButton:hover {
  background-color: rgba(59, 59, 59, 0.07);
}

.collapsible__contentWrapper {
}
