.tooltipBlock {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(75px);
  border-radius: 8px;
  border: 1px solid;
  border-image-source: linear-gradient(136.52deg, #FFFFFF -42.6%, rgba(255, 255, 255, 0) 75.67%);
  padding-inline: 8px;
  padding-block: 4px;
  min-width: 128px;
  max-width: 256px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(93.15deg, #C4C4C4 -11.97%, rgba(255, 255, 255, 0) 174.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}