@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Button style */
button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.3);
  
  /* Center the ripple */
  top: 50%;
  left: 50%;

  animation: ripple 1s;
  opacity: 0;
}

button:focus:not(:active)::after {
  display: block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

/*  */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  /* width: var(--size); */
  /* height: var(--size); */
  filter: blur(calc(var(--size) / 1));
  background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57));
  /* background-blend-mode:color-burn; */
  /* background: greeт; */
  animation: rotate var(--speed) var(--easing) infinite;
  /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  /* z-index: 0 !important; */
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}
/* This is just to transition when you change the viewport size. */
/* * {
  transition: all 1 linear;
} */