.controlErrorMessage {
  position: absolute;
  left: 0;
  bottom: -16px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  height: fit-content;
}

@media ( max-width: 400px ) {
  .controlErrorMessage {
    font-size: 0.7rem;
  }
}

@media ( max-width: 360px ) {
  .controlErrorMessage {
    font-size: 0.5rem;
  }
}